@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

body {
    font-family: "Raleway", sans-serif;
  }

.imgCard {
    width: 100%;
    border-radius: 12px;
    height: 225px;
    object-fit:contain;
  }

  #container {
    width: 330px;
    height: 300;
    margin-top: 10vh;
    margin-bottom: 5vh;
  }

  .tag{
    color: black;
    font-weight: 300;
  }

  .cardGen {
    background-color: white;
    padding: 8px;
    border-radius: 10px;
  }

  .name {
    font-size: 24px;
    font-weight: 600;
    margin-top: 8px;
    color: #191d21;
  }
  
.infoTag {
    font-size: 14px;
    color: #7f8c9b;
  }
  
  .card__details {
    padding: 10px 8px;
  }
