* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    
}

.body{
    background-color: #3a4750;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main_box{
    width: 100%;
    height: 80vh;
    display: flex;
}
  
.img{
    flex: 1;
    height: 100%;
    cursor: pointer;
    transition: all .3s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid rgb(240, 184, 232);
    position: relative;
}
  
.p{
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 700;
    font-size: larger;
    padding: .75em;
    background-color: #be3144;
    transform: rotate(-90deg);
    transform-origin: 0% 0%;
    transition: all 0.3s;
    text-transform: uppercase;
}

.img1 {
    background-image: url(../../img/centaurus\ quest.jpg);
    
}

.img2 {
    background-image: url(../../img/UB-PRO-SERIES-COILS_01-1.jpg);
}

.img3 {
    background-image: url(../../img/e-liquid.jpeg);
}

.main_box:hover .img{
    transform: skew(0);
}

.img:hover{
    flex: 3;
}

.img:hover .p{
    background-color: #be3144;
    border: .125em solid rgb(248, 248, 250);
    color: rgb(247, 244, 243);
    transform: rotate(0deg);
    margin-left: 20px;
}

@media (max-width: 600px) {
    .main_box{
        
        width: 100%;
        flex-direction: column;
    }
    .img{
        width: 390px;
    }
    .body{
        height: 100vh;
        padding-top: 100px;
        margin-left: 10px;
    }
  }