@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

.cardvid {
  height: 500px;
  background-color: #be3144;
}
.vap {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}
.vid {
  margin-top: 70px;
  width: 400px;
  height: 200px;
}
.video-responsive{
    margin-bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

@media(max-width: 450px){
  .video-responsive{
    flex-direction: column;
  }
  .cardvid{
    height: 1500px;
  }
  .vid{
    width: 350px;
    margin-right: 20px;
  }
}
